<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework codeConfigurationType="Spikes.Migrations.BaseData.CustomDbConfiguration, Spikes.Migrations.BaseData">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <!-- Example of setting a custom db initializer with params -->
      <!--
      <context type="Spikes.Migrations.Data.SpikesMigrationsDb, Spikes.Migrations.Data">
        <databaseInitializer type="Spikes.Migrations.Tests.SpikesMultiMigrateDbToLastestVersion, Spikes.Migrations.Tests">
          <parameters>
            <parameter value="false" type="System.Boolean"/>
          </parameters>
        </databaseInitializer>
      </context>
-->
    </contexts>
  </entityFramework>
  <connectionStrings>
    <add name="SpikesMigrationsBaseDb" connectionString="server=(local)\SQL2008R2;database=SpikesMigrations;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SpikesMigrationsDb-Compare" connectionString="server=(local)\SQL2008R2;database=SpikesMigrations-Compare;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SpikesMigrationsDb" connectionString="server=(local)\SQL2008R2;database=SpikesMigrations;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SpikesMigrationsDb-LocalDb" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SpikesMigrations;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <assert assertuienabled="true" />
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="debugging.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>